@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  width: 100%;
  min-width: 320px;
  color: #000000;
  background: #ffffff;
  font: bold 16px/110% "Opel Sans", sans-serif;
  cursor: default;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: auto !important;
  min-height: 100%;
  height: 100%;
  position: relative;
}

html,
body,
div,
applet,
object,
iframe,
blockquote,
pre,
abbr,
acronym,
address,
big,
select,
input,
textarea,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dd,
dl,
dt,
fieldset,
form,
label,
legend,
caption {
  font: bold 16px/110% "Opel Sans", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

a img,
:link img,
:visited img {
  border: 0;
}

p {
  padding: 0px;
  margin: 0px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

a {
  cursor: pointer;
  outline: none;
  color: #000000;
  text-decoration: none;
  font: bold 16px/110% "Opel Sans", sans-serif;
}

a:hover {
  text-decoration: none;
}

.cl:after,
.f_shops:after,
.f_contacts:after,
.header:after,
.b1:after,
.b2:after,
.b3:after,
.b4:after,
.b5:after,
.b6:after,
.b7:after,
.b8:after,
.footer:after {
  content: "";
  display: block;
  clear: both;
}

.hand {
  cursor: pointer;
}

.display_none {
  display: none;
}

input,
select,
textarea {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  outline: none;
  resize: none;
  overflow: auto;
}

ul {
  list-style: none;
}

/* site styles */
.header,
.b1,
.b2,
.b3,
.b4,
.b5,
.b6,
.b7,
.b8,
.footer {
  max-width: 1390px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 143px;
  background: url(../images/header_bg.jpg) center no-repeat;
  background-size: cover;
  border-bottom: 3px solid #000;
  position: relative;
  z-index: 5;
}

.h_logos {
  float: left;
}

.logo {
  display: block;
  float: left;
  margin-top: 40px;
}

.logo:nth-child(1) {
  margin-right: 33px;
}

.h_contacts {
  float: right;
  margin-top: 24px;
  max-width: 235px;
  text-align: right;
}

.h_email {
  display: inline-block;
  padding-left: 27px;
  position: relative;
  margin-bottom: 6px;
}

.h_email:before {
  display: block;
  content: "";
  width: 14px;
  height: 9px;
  background: url(../images/email.png) 0 0 no-repeat;
  position: absolute;
  left: 0;
  top: 6px;
}

.tg,
.wu {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  background: url(../images/tg.png) 0 0 no-repeat;
  margin: 3px 6px 0 0;
}

.wu {
  background: url(../images/wu.png) 0 0 no-repeat;
}

.h_tel {
  display: inline-block;
  vertical-align: top;
  font-size: 21px;
  line-height: 110%;
  padding-left: 30px;
  position: relative;
}

.h_tel:before {
  display: block;
  content: "";
  width: 17px;
  height: 17px;
  background: url(../images/tel.png) 0 0 no-repeat;
  position: absolute;
  left: 0;
  top: 3px;
}

.h_callback {
  display: inline-block;
  width: 100%;
  height: 32px;
  background: #000;
  font-size: 17px;
  line-height: 32px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  transition: 0.3s;
  margin-top: 10px;
}

.h_callback:hover {
  filter: alpha(Opacity=70);
  opacity: 0.7;
}

.b1_wrap {
  height: 508px;
  background: url(../images/b1_bg.jpg) center no-repeat;
  background-size: cover;
  padding-top: 105px;
}

.b1_list {
  float: left;
  max-width: 640px;
  width: calc(100% - 420px);
}

.b1_list>li {
  display: block;
  font-size: 28px;
  line-height: 110%;
  color: #fff;
  margin-bottom: 25px;
  position: relative;
  padding-left: 20px;
}

.b1_list>li h1 {
  font-size: 38px;
  line-height: 110%;
}

.b1_list>li:before {
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 12px;
}

.b1_right {
  float: right;
  text-align: right;
  max-width: 400px;
}

.b1_text {
  font-size: 50px;
  line-height: 120%;
  color: #fff;
  text-transform: uppercase;
}

.b1_btn {
  display: inline-block;
  max-width: 232px;
  width: 100%;
  height: 52px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 39px;
  line-height: 52px;
  transition: 0.3s;
  margin: 25px 0 110px;
}

.b1_btn:hover {
  filter: alpha(Opacity=70);
  opacity: 0.7;
}

.b1_ozon {
  display: inline-block;
  transition: 0.3s;
}

.b1_ozon:hover {
  filter: alpha(Opacity=70);
  opacity: 0.7;
}

.b1_ozon>img {
  display: block;
  width: 185px;
  height: 28px;
}

.b2 {
  margin: 60px auto;
}

.b2_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 90px 50px;
}

.b2_item>img,
.b5_item>img {
  display: block;
  border-radius: 30px;
  background: #f4f4f4;
  border-right: 7px solid #f4f4f4;
  border-bottom: 7px solid #f4f4f4;
}

.b3 {
  padding: 50px;
  background-color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
}

.b3__img {
  max-width: 350px;
  width: 100%;
  margin: 0 40px;
}

.b3__item {
  display: flex;
  align-items: center;
}

.b3__item img {
  margin-right: 20px;
  width: 70px;
  height: 70px;
}

.text__area h1 {
  max-width: 430px;
  margin: 100px 0;

  line-height: 1.2;
  font-size: 30px;
  color: #fff;
}

@media (max-width:1407px) {
  .b3 {
    width: 95%;
    padding: 50px 20px;
  }

  .text__area h1 {
    margin: 50px 0;
    max-width: 250px;
    font-size: 24px;
  }

  .b3__img {
    width: 250px;
  }
}

@media (max-width:1100px) {
  .b3 {
    width: 95%;
    padding: 50px 20px;
  }

  .b3__item img {
    width: 40px;
    height: 40px;
  }

  .text__area h1 {
    margin: 40px 0;
    max-width: 250px;
    font-size: 18px;
  }

  .b3__img {
    width: 200px;
  }
}

@media (max-width:750px) {
  .b3 {
    width: 95%;
    padding: 50px 20px;
    flex-wrap: wrap;
  }

  .b3__item img {
    width: 40px;
    height: 40px;
  }

  .text__area h1 {
    margin: 20px 0;
    max-width: 250px;
    font-size: 18px;
  }

  .b3__img {
    width: 150px;
  }
}

.b4_wrap {
  height: 834px;
  margin-top: 50px;
  background: url(../images/b4_img.jpg) right top no-repeat;
}

.b4 .c_head {
  margin-bottom: 40px;
}

.c_head {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 90px;
}

.b4_table {
  background: #F4F4F4;
  border-radius: 22px;
  padding: 0 275px 0 25px;
}

.b4t_line {
  display: table;
  width: 100%;
  height: 55px;
}

.b4t_line>div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 0 1%;
}

.b4t_line>div:nth-child(1) {
  width: 24%;
  text-align: left;
  padding-left: 0;
}

.b4t_line>div:nth-child(2) {
  width: 19%;
  font-weight: bold;
}

.b4t_line>div:nth-child(3) {
  width: 17%;
}

.b4t_line>div:nth-child(4) {
  width: 17%;
}

.b4t_line>div:nth-child(5) {
  width: 23%;
  padding-right: 0;
}

.b4t_head {
  font-size: 15px;
  text-align: center;
  margin: 20px 0;
}

.b5 {
  margin-top: 70px;
}

.b5_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 35px;
}

.b5_item {
  text-align: center;
}

.b5_item>img {
  display: inline-block;
}

.b5i_text {
  font-size: 23px;
  line-height: 120%;
  margin-bottom: 17px;
}

.b5i_price {
  font-size: 28px;
  line-height: 120%;
  margin-top: 23px;
}

.b5_btn {
  display: block;
  max-width: 400px;
  width: 100%;
  height: 70px;
  margin: 70px auto 0;
  background: #262626;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 28px;
  line-height: 70px;
  transition: 0.3s;
}

.b5_btn:hover {
  filter: alpha(Opacity=70);
  opacity: 0.7;
}

.b6 {
  margin-top: 160px;
}

.b6 .c_head {
  position: relative;
}

.b6 .c_head>a {
  display: inline-block;
  position: absolute;
  width: 270px;
  height: 40px;
  left: 50%;
  top: 2px;
  transform: translateX(-550px);
  transition: 0.3s;
}

.b6 .c_head>a:hover {
  filter: alpha(Opacity=70);
  opacity: 0.7;
}

.r_table_head_line {
  display: table;
  width: 100%;
  min-width: 800px;
  height: 50px;
}

.r_table_head_line>div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
  padding: 0 1%;
}

.r_table_head_line>div:nth-child(1) {
  width: 30%;
  text-align: left;
}

.r_table_head_line>div:nth-child(2) {
  width: 6%;
}

.r_table_head_line>div:nth-child(3) {
  width: 6%;
}

.r_table_head_line>div:nth-child(4) {
  width: 9%;
}

.r_table_head_line>div:nth-child(5) {
  width: 25%;
  text-align: left;
}

.r_table_head_line>div:nth-child(6) {
  width: 8%;
}

.r_table_head_line>div:nth-child(7) {
  width: 9%;
}

.r_table_head_line>div:nth-child(8) {
  width: 7%;
}

.r_table_wrap {
  overflow: auto;
  margin-bottom: 25px;
  position: relative;
}

.table__arrow {
  display: none;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 18.5%;
  right: 15%;
  border-radius: 50%;

  animation: tableArrow 1s infinite;
}

@media (max-width:815px) {
  .table__arrow {
    display: block;
  }
}

@keyframes tableArrow {
  0% {
    right: 0;
  }

  50% {
    right: 10%;
  }

  100% {
    right: 0;
  }
}


.r_table {
  min-width: 800px;
  border-radius: 22px;
  background: url(../images/r_table_bg.jpg) center no-repeat;
  background-size: cover;
}

.r_table.all_show .rt_line {
  display: table !important;
}

.r_table.all_show .rt_line:nth-child(n+17) {
  border-bottom: 1px solid #1A1A1B;
}

.rt_line {
  display: table;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #1A1A1B;
}

.rt_line:nth-child(n+18) {
  display: none;
}

.rt_line:nth-child(n+17) {
  border-bottom: none;
}

.rt_line:last-child {
  border-bottom: none;
}

.rt_line>div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding: 0 1%;
}

.rt_line>div:nth-child(1) {
  width: 9%;
}

.rt_line>div:nth-child(1)>img {
  display: inline-block;
  width: 100%;
  max-width: 70px;
  border-radius: 12px;
  vertical-align: middle;
}

.rt_line>div:nth-child(2) {
  width: 21%;
  padding-left: 0;
  text-align: left;
}

.rt_line>div:nth-child(2)>a {
  font-size: 16px;
  line-height: 110%;
  color: #fff;
  pointer-events: none;
  cursor: default;
}

.rt_line>div:nth-child(2)>a>span {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
}

.rt_line>div:nth-child(2)>a:hover {
  text-decoration: underline;
}

.rt_line>div:nth-child(3) {
  width: 6%;
}

.rt_line>div:nth-child(4) {
  width: 6%;
}

.rt_line>div:nth-child(5) {
  width: 9%;
}

.rt_line>div:nth-child(6) {
  width: 25%;
  text-align: left;
}

.rt_line>div:nth-child(7) {
  width: 8%;
}

.rt_line>div:nth-child(8) {
  width: 9%;
}

.rt_line>div:nth-child(9) {
  width: 7%;
}

.rt_line>div:nth-child(9)>a {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  background: url(../images/cart.png) 0 0 no-repeat;
  transition: 0.3s;
}

.rt_line>div:nth-child(9)>a:hover {
  filter: alpha(Opacity=70);
  opacity: 0.7;
}

/*стили модальных окон*/
.mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}

.boxes .window {
  display: none;
  max-width: 913px;
  width: 100%;
  max-height: 90vh;
  overflow: auto;
  background: #343434;
  border-radius: 22px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}

.close {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 3;
  right: 15px;
  top: 15px;
  cursor: pointer;
  filter: alpha(Opacity=50);
  opacity: 0.5;
  transition: 0.3s;
}

.close:hover {
  filter: alpha(Opacity=100);
  opacity: 1;
}

.close:before {
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

.close:after {
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}

.modal_content,
.b8f_content {
  border-radius: 22px;
  overflow: hidden;
  background: url(../images/modal_bg.png) left bottom no-repeat;
  padding: 70px 60px;
}

#pop .modal_content,
#pop .b8f_content {
  background: none;
}

.f_input {
  display: block;
  width: 100%;
  height: 60px;
  margin-bottom: 50px;
  padding: 0 40px;
  background: #7E7E7E;
  border-radius: 22px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}

.f_input::placeholder {
  color: #fff;
}

.f_submit {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 290px;
  height: 65px;
  background: #7E7E7E;
  border-radius: 100px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.f_submit:hover {
  filter: alpha(Opacity=70);
  opacity: 0.7;
}

.t_more {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  width: 100px;
  height: 28px;
  background: #3A3A3A;
  border-radius: 100px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  transition: 0.3s;
}

.t_more:hover {
  filter: alpha(Opacity=70);
  opacity: 0.7;
}

.b7_wrap {
  padding: 70px 0 120px;
  margin-top: 25px;
  position: relative;
  background: url(../images/b7_bg.jpg) left top no-repeat;
}

.serts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 18px;
}

.sert {
  display: block;
  border-radius: 28px;
  border-right: 7px solid #484848;
  border-bottom: 3px solid #484848;
  transition: 0.3s;
}

.sert:hover {
  transform: scale(1.1);
}

.sert>img {
  display: block;
  border-radius: 28px;
}

.b8_wrap {
  padding-bottom: 100px;
  background: url(../images/b8_img.jpg) right bottom no-repeat;
}

.b8 {
  max-width: 910px;
}

.b8_form {
  background: #343434;
  border-radius: 22px;
}

footer {
  background: #343434;
  padding: 40px 0 10px;
  color: #fff;
}

.f_head {
  font-size: 40px;
  margin-bottom: 13px;
}

.map {
  width: 100%;
  height: 180px;
  margin-bottom: 22px;
}

.f_contacts {
  margin-bottom: 30px;
}

.fc_address {
  float: left;
  width: calc(100% - 290px);
  font-size: 20px;
}

.fc_socials {
  float: right;
  max-width: 280px;
  text-align: right;
  position: relative;
}

.fc_socials>a {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  position: relative;
  transition: 0.3s;
}

.fc_socials>a:hover {
  transform: scale(1.1);
}

.fc_socials>a>img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.f_tel {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
}

.f_tel>a {
  font-size: 20px;
  line-height: 110%;
  color: #fff;
  padding-left: 30px;
  position: relative;
}

.f_tel>a:before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../images/tel_w.png) 0 0 no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.f_shops {
  position: absolute;
  top: -2px;
  left: -440px;
}

.f_shops>a {
  display: inline-block;
  vertical-align: top;
  width: 185px;
  transition: 0.3s;
}

.f_shops>a:hover {
  transform: scale(1.2);
}

.f_shops>a:nth-child(1) {
  margin-right: 17px;
}

.f_shops>a>img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

/* MEDIA QUERIES*/
@media only screen and (max-width: 1380px) {
  .f_shops {
    position: static;
    display: inline-block;
    margin-top: 10px;
  }

  .f_shops>a {
    display: block;
    float: right;
    width: 49%;
  }

  .f_shops>a:nth-child(1) {
    float: left;
    margin: 0;
  }
}

/*1380*/
@media only screen and (max-width: 1200px) {
  .b4_table {
    padding: 0 15px;
  }

  .b5i_text {
    font-size: 20px;
  }

  .b5i_price {
    font-size: 22px;
  }

  .b6 {
    margin-top: 80px;
  }

  .b6 .c_head>a {
    position: static;
    display: inline-block;
    transform: translateX(0);
    margin-top: 15px;
  }

  .r_table_head_line>div {
    font-size: 13px;
  }

  .r_table_head_line>div:nth-child(1) {
    width: 37%;
  }

  .r_table_head_line>div:nth-child(2) {
    width: 8%;
  }

  .r_table_head_line>div:nth-child(3) {
    width: 8%;
  }

  .r_table_head_line>div:nth-child(4) {
    width: 13%;
  }

  .r_table_head_line>div:nth-child(5) {
    width: 8%;
    text-align: center;
  }

  .r_table_head_line>div:nth-child(6) {
    width: 9%;
  }

  .r_table_head_line>div:nth-child(7) {
    width: 10%;
  }

  .r_table_head_line>div:nth-child(8) {
    width: 6%;
  }

  .r_table {
    border-radius: 12px;
  }

  .rt_line>div:nth-child(1) {
    width: 10%;
  }

  .rt_line>div:nth-child(2) {
    width: 27%;
  }

  .rt_line>div:nth-child(3) {
    width: 8%;
  }

  .rt_line>div:nth-child(4) {
    width: 8%;
  }

  .rt_line>div:nth-child(5) {
    width: 13%;
  }

  .rt_line>div:nth-child(6) {
    width: 8%;
    text-align: center;
  }

  .rt_line>div:nth-child(7) {
    width: 9%;
  }

  .rt_line>div:nth-child(8) {
    width: 10%;
  }

  .rt_line>div:nth-child(9) {
    width: 6%;
  }
}

/*1200*/
@media only screen and (max-width: 1000px) {
  .b1_wrap {
    height: auto;
    padding: 50px 0;
  }

  .b1_list {
    width: calc(100% - 310px);
  }

  .b1_list>li {
    font-size: 20px;
  }

  .b1_list>li:nth-child(1):before {
    top: 14px;
  }

  .b1_list>li:before {
    top: 7px;
  }

  .b1_list>li h1 {
    font-size: 30px;
  }

  .b1_right {
    max-width: 290px;
  }

  .b1_text {
    font-size: 36px;
  }

  .b1_btn {
    max-width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    margin: 20px 0 40px;
  }

  .b2 {
    margin: 30px auto;
  }

  .b2_items {
    grid-gap: 30px;
  }

  .b4_wrap {
    height: auto;
    margin-top: 30px;
    background: none;
  }

  .c_head {
    font-size: 30px;
    margin-bottom: 30px !important;
  }

  .b5 {
    margin-top: 50px;
  }

  .b5_items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  .b6 {
    margin-top: 30px;
  }

  .b8_wrap {
    padding-bottom: 40px;
    background: none;
  }
}

/*1000*/
@media only screen and (max-width: 900px) {
  .b7_wrap {
    padding: 0;
    background: none;
    margin: 40px 0;
  }

  .serts {
    max-width: 690px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }
}

/*900*/
@media only screen and (max-width: 800px) {
  .h_logos {
    max-width: 100px;
    margin-top: 30px;
  }

  .logo {
    float: none;
    margin: 0 0 15px !important;
  }

  .modal_content,
  .b8f_content {
    border-radius: 12px;
    background: none;
    padding: 50px 15px 30px;
  }

  .f_input {
    margin-bottom: 30px;
    border-radius: 12px;
    padding: 0 15px;
    font-size: 20px;
    height: 40px;
  }

  .f_submit {
    height: 50px;
    font-size: 30px;
  }
}

/*800*/
@media only screen and (max-width: 650px) {
  .b1_wrap {
    padding: 30px 0;
  }

  .b1_list {
    float: none;
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }

  .b1_list>li {
    margin-bottom: 15px;
  }

  .b1_right {
    float: none;
    max-width: 100%;
    text-align: left;
  }

  .b1_text {
    font-size: 28px;
  }

  .b1_btn {
    margin: 15px 0 25px;
  }

  .b2_items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .b2_items>img {
    border-right: 3px solid #f4f4f4;
    border-bottom: 3px solid #f4f4f4;
  }

  .c_head {
    font-size: 22px;
    margin-bottom: 20px !important;
  }

  .b4_table {
    border-radius: 10px;
  }

  .b4t_line {
    height: 45px;
  }

  .b4t_line>div {
    font-size: 14px;
  }

  .b4t_head {
    font-size: 14px;
    margin: 10px 0;
  }

  .b5 {
    margin-top: 35px;
  }

  .b5_items {
    grid-gap: 20px;
  }

  .b5i_text {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .b5i_price {
    font-size: 17px;
    margin-top: 10px;
  }

  .b5_btn {
    max-width: 250px;
    height: 45px;
    font-size: 18px;
    line-height: 45px;
    margin-top: 40px;
  }

  .f_head {
    font-size: 22px;
  }

  .map {
    margin-bottom: 10px;
  }

  .fc_address {
    font-size: 18px;
    width: 100%;
    float: none;
    margin-bottom: 15px;
  }

  .fc_socials {
    float: none;
    text-align: left;
  }
}

/*650*/
@media only screen and (max-width: 450px) {
  .b4 {
    padding: 0;
  }

  .b4 .c_head {
    padding: 0 15px;
  }

  .b4t_line>div {
    font-size: 13px;
  }

  .serts {
    grid-gap: 10px;
  }

  .sert {
    border-radius: 12px;
    border-right: 4px solid #484848;
    border-bottom: 1px solid #484848;
  }

  .sert>img {
    border-radius: 12px;
  }
}

/*450*/
@media only screen and (max-width: 400px) {
  .h_logos {
    max-width: 80px;
  }

  .h_contacts {
    max-width: 190px;
  }

  .h_email {
    font-size: 14px;
    padding-left: 24px;
  }

  .h_email:before {
    top: 4px;
  }

  .h_tel {
    font-size: 16px;
    padding-left: 25px;
    padding-top: 3px;
  }

  .h_callback {
    font-size: 15px;
  }
}

/*400*/

/*# sourceMappingURL=style.css.map */